@layer base, galeria;
@import url("gallery.css") layer(galeria);

:root {
    --bg-violet: #712cf9;
    --text-blanco: #FFF;
    --text-red: #F00;
}

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: system-ui, sans-serif;
        background-color: #f4f4f4;
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }

    header {
        margin-bottom: 10px;
        h1 {
            text-align: center;
            color: var(--text-blanco);
        }
    }

    header,
    footer {
        background-color: var(--bg-violet);
        width: 100vw;
        text-align: center;
        padding: 0.5rem;
    }

    footer {
        margin-top: 10px;
        &::after {
            content: "No soporta el if de CSS";
            color: var(--text-red);
        }
    }
}