@font-face {
    font-family: BebasNeue;
    src: url('./Fonts/BebasNeue-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: PlayfairDisplay;
    src: url('./Fonts/PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #273747;
    color: white;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px;
}

header p {
    margin: 5px;
    color: rgb(165, 164, 164);
    font-size: 1rem;
}

nav {
    background-color: rgb(48, 68, 88);
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 15px;
}

nav li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem; 
}

h3, h4 {
    font-family: PlayfairDisplay;
    color: #273747;
}


main {
    background-color: rgb(219, 219, 219);
    display: flex; 
    flex: 1; 
}

article {
    margin: 30px;
    padding: 50px;
}

section {}

aside {}

footer {
    background-color: #273747;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resaltado {
    color: red;
}
